body {
    height: 100vh;
}

* {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0;
}

.wrapper {
    height: 100%;
}

.clear {
    clear: both;
}

.main {
    height: 100%;
    /*overflow: auto;*/
    position: relative;
}

.main aside {
    /*float: left;
    width: 5em;
    height: 80%;*/
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5em;
}

.main .chat {
    left: 5em;
    position: absolute;
}

.main .chat .history {

}

.main .chat .input {

}

.main:after {
    content: '';
    display: block;
    clear: both;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}