@mixin border-top($radius){
  border-radius: $radius $radius 0 0;
  -moz-border-radius: $radius $radius 0 0;
  -webkit-border-radius: $radius $radius 0 0;
}
@mixin border-bottom($radius){
  border-radius: 0 0 $radius $radius ;
}

@mixin theme($theme, $property, $variable) {
  .#{$theme} & { // map-get($themes, $theme) => $themes[$theme]
    #{$property}: map-get(map-get($themes, $theme), $variable);
    // => $themes[$theme[$property]]
  }
}
@mixin with-theme($property, $variable){
  @each $theme in map-keys($themes){ // => [dark, light]
    @include theme($theme, $property, $variable);
  }
}